@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.menuboard-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.menubard-header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.menubard-header h1{
  font-family: "Poppins", "sans-serif";
  text-align: center;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: #cf152d;
  text-decoration-thickness: 4px;
  text-underline-offset: 15px;
}

.menuboard-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  overflow: auto;
  gap: 30px;
}

.menuboard-content-section {
  width: 350px;
}

.menuboard-content-category-text {
  font-family: "Poppins", "sans-serif";
  color: #cf152d;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: black;
  text-underline-offset: 10px;
  text-decoration-style: dotted;
}

.menuboard-content-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  font-size: 1.2rem;
}
