@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Menu Main Navbar Styling*/
.menupage-navbar {
    background-color: #cf152d;
    color: white;
    font-family: 'Poppins', 'sans-serif';
}

.menupage-navbar-link-container {
    column-gap: 40px;
    row-gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px;
}

.menupage-navbar-link-container a{
    position: relative;
    transition: all 0.1s ease 0s;
}

.menupage-navbar-link-container a:hover{
    font-weight: 700;
}


/* Menu Sidebar Styling */
.menupage-sidebar-container {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', 'sans-serif';
}

.menupage-search {
    font-family: 'Poppins', 'sans-serif';
    border: 2px solid black !important;
}

.menupage-search:focus {
    box-shadow: 0 0 15px rgba(207, 21, 45, 0.8) !important;
    border: 2px solid black;
    outline: 0 none !important;
}

.menupage-filter-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menupage-filter-header h2{
    font-weight: 700;
}

.menupage-filter-category {
    padding-left: 40px;
}

.menupage-filter-category-text{
    font-size: 18px;
    cursor: pointer;
    display: inline;
    transition: all 0.2s ease 0s;
}

.menupage-filter-category-text:hover{
    color: #cf152d;
    font-weight: 700;
}

/* Product Grid Styling */
.menupage-productgrid-container {
    background-color: white;
}

.menupage-productcard {
    font-family: 'Poppins', 'sans-serif';
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
}

.menupage-productcard h3 {
    text-align: center;
    margin-bottom: auto;
    font-weight: 700;
    color: white;
}

.menupage-productcard h2 {
    text-align: center;
    margin-bottom: auto;
    font-weight: 700;
    color: white;
}