@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


.pendingpage-orders-information-container {
    background-color: #cf152d;
    font-family: 'Poppins', 'sans-serif';
    color: white;
}

@media (min-width: 768px) {
    .pendingpage-orders-information-container {
        min-height: 75vh;
    }
}

.pendingpage-product-card {
    padding: 10px;
    font-family: 'Poppins', 'sans-serif';
    margin: 20px;
    color: white;
    background-color: #cf152d;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
    border: solid 2px #cf152d;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.2s ease 0s; 
}

.pendingpage-product-card-selected {
    padding: 10px;
    font-family: 'Poppins', 'sans-serif';
    margin: 20px;
    color: #cf152d;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
    border: solid 2px #cf152d;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.pendingpage-product-card:hover{
    color: #cf152d;
    background-color: white;
}

.pendingpage-product-card-left {
    display: inline-block;
}

.pendingpage-product-card-right {
    display: inline-block;
    font-weight: 700;
}

.pendingpage-orders-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', 'sans-serif';
    margin-bottom: 20px;
}
.pendingpage-orders-header h2{
    font-weight: 700;
    margin: 0;
    color: #cf152d;
}

.pendingpage-orders-grid-container {
    display: flex;
    flex-direction: column;
}

.pendingpage-controls-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Poppins', 'sans-serif';
    color: #cf152d;
}

.pendingpage-controls-container h5{
    margin: 0;
    font-weight: 600;
}

.pendingpage-control-button-disabled{
    font-weight: 600;
    color: #cf152d;
    padding: 9px 25px;
    background-color: white;
    border: solid #cf152d;
    border-radius: 15px;
    text-align: center;
}

.pendingpage-control-button {
    color: white;
    background-color: #cf152d;
    font-weight: 600;
    padding: 9px 25px;
    border: solid #cf152d;
    border-radius: 15px;
    text-align: center;
}

.pendingpage-orders-information-header {
    display: flex;
    align-items: left;
    font-weight: 700;
}