.GraphContainer {
  height: 300px;
  width: 600px;
  background-color: white;
  border: 5px solid red;
  left: 550px;
  top: 250px;
  position: absolute;
}

.StatsContainer {
  position: relative;
  height: 100vh;
  width: 1600px;
}

.StatsButtonContainer {
  position: absolute;
  height: 300px;
  top: 100px;
  left: 530px;
  width: 800px;
}

.StatsButton {
  font-weight: 700;
  color: white;
  padding: 9px 25px;
  background-color: #cf152d;
  border: solid #cf152d;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  text-align: center;
  text-decoration: none;
}

.GenerateButton {
  position: absolute;
  left: 770px;
  top: 180px;
  width: 200px;
  height: 100px;
}
