.GraphContainer {
  background-color: white;
  border: 1px solid red;
  position: relative;
  width: 500px;
  height: 500px;
}

.StatsContainer {
  position: relative;
  height: 100vh;
  width: 1600px;
}

.StatsButtonContainer {
  position: relative;
  max-width: 100%;
  background-color: #cf152d;
}

.StatsButton {
  font-weight: 700;
  color: #cf152d;
  padding: 9px 25px;
  background-color: white;
  border: solid white;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  text-align: center;
  text-decoration: none;
}

.StatsButtonOn {
  font-weight: 700;
  color: white;
  padding: 9px 25px;
  background-color: #cf152d;
  border: solid white;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  text-align: center;
  text-decoration: none;
}

.GenerateButton {
  position: relative;
}

.TableContainer {
  background-color: white;
  border: 1px solid red;
  position: relative;
  width: 500px;
  height: 500px;
}

.startDate {
  position: relative;
}

.endDate {
  position: relative;
}

.dateContainer {
  background-color: #cf152d;
}

.StatsButtonOn:hover {
  font-weight: 700;
  color: #cf152d;
  padding: 9px 25px;
  background-color: white;
  border: solid white;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  text-align: center;
  text-decoration: none;
}

.StatsButton:hover {
  font-weight: 700;
  color: white;
  padding: 9px 25px;
  background-color: #cf152d;
  border: solid white;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  text-align: center;
  text-decoration: none;
}

.dateLabel {
  color: white;
  font-weight: 700;
}
